:root {

    /* fonts */
    --font-family-base: 'Inter', sans-serif;

    --font-style: normal;

    --font-weight-normal: 400;
    --font-weight-bold: 600;

    --font-size-xsmall: 14px;
    --font-size-small: 16px;
    --font-size-medium: 20px;
    --font-size-large: 24px;
    --font-size-sidebar-title: 32px;
    --font-size-xlarge: 36px;
    --font-size-2xlarge: 40px;

    /*sizes  */
    --margin-clear: 0;
    --main-padding: 0 15px;
    --main-width: 385px;
    --main-height: 290px;
    --container-padding: 25px 0 50px;
    --sidebar-container-padding: 0 40px;
    --sidebar-photo-margin: 35px 0;
    --sidebar-title-margin-top: 35px;
    --main-content-padding: 60px 55px 550px;
    --sidebar-subtitle-margin: 35px 0 10px;
    --title-padding-bottom: 15px;
    --title-border-bottom: 5px;

    /* media queries */
    --margin: auto;
    --padding: o;
    --media-title-padding-bottom: 65px;
    --media-main-padding: 30px 30px 0;
    --media-title-margin-right: 0;
}

body {
    margin: var(--margin-clear);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.cv-page {
    display: flex;
    padding: var(--main-padding);
    font-family: var(--font-family-base);
    font-style: var(--font-style);
    line-height: 1.2;
}

a {
    text-decoration: none;
}
.sidebar-container {
    padding: var(--sidebar-container-padding);
}

.container {
   padding: var(--container-padding);
}

/* Header */
.sidebar {
    width: var(--main-width);
    background-color: var(--color-background-sidebar);
}

.sidebar-info h1 {
    font-size: var(--font-size-2xlarge);
    color: var(--color-main-background);
}

.sidebar-name {
    color: var(--color-accent);
}

.form-link {
    color: var(--color-accent);
}

.sidebar-photo {
    margin: var(--sidebar-photo-margin);
    width: var(--main-width);
    height: var(--main-height);
    background-image: url('../images/photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sidebar-title {
    margin: var(--margin-clear);
    margin-top: var(--sidebar-title-margin-top);
    padding-bottom: var(--title-padding-bottom);
    font-size: var(--font-size-sidebar-title);
    color: var(--color-text-primary);
    border-bottom: var(--title-border-bottom) solid var(--color-text-headings);
}

.sidebar-subtitle {
    margin: var(--margin-clear);
    margin: var(--sidebar-subtitle-margin);
    font-size: var(--font-size-large);
    color: var(--color-text-primary);
}

.address p {
    font-size: var(--font-size-small);
    color: var(--color-text-primary);
}

.phone-link {
    font-size: var(--font-size-small);
    color: var(--color-text-primary);
}

.link {
    font-size: var(--font-size-small);
    color: var(--color-accent);    
}

.languages p {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    color: var(--color-languages-text);
}

/* Main */
.main-content {
    background-color: var(--color-main-background);
    padding: var(--main-content-padding);
    font-weight: var(--font-weight-normal);
}

.title {
    margin: var(--margin-clear);
    margin-right: 45px;
    padding-bottom: var(--title-padding-bottom);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xlarge);
    color: var(--color-text-headings);
    border-bottom: var(--title-border-bottom) 
                   solid var(--color-text-work-experience);
}

.work-definition {
    font-weight: var(--font-weight-bold);
}

/* Summary */
.summary-about {
   
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    color: var(--color-text-primary);
}

/* Skills highlights */
.skills ul {
    column-count: 2;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
}

/* Work Experience */
.work-content {
    margin: var(--margin-clear);
    font-size: var(--font-size-xsmall);
    color: var(--color-text-work-experience);
}

/* Education */
.education-content {
    color: var(--color-text-primary);
}

/* media queries */
@media screen and (max-width: 385px) {
    .cv-page {
        flex-direction: column;
        margin: var(--margin);
        padding: var(--padding);
    }

    .sidebar {
        padding-bottom: var(--media-title-padding-bottom);
    }

    .main-content {
        padding: var(--media-main-padding);
    }

    .title {
        margin-right: var(--media-title-margin-right);
    }
}



/* Form-section */
.form-section {
   position: absolute;
    width: 1024px;
    top: calc(50% - 330px);
    left: calc(50% - 512px);
    padding: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    background: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0,  0.5);
    padding-bottom: 20px;
}

.link-form {
    color: #0048D9;
}

input, 
select, 
textarea {
  appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

.form-section-title {
    margin: 0;
    color:  #0048D9;
}

.form-section-subtitle {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    color: #0048D9;
}

.table-contact {
    border: 0.5px solid #0048D9;
    padding: 10px;
    border-collapse: collapse;
    border-radius: 5px;
}

.table-contact th, td {
    border: 1px solid #0048D9;
    padding: 10px;
}

.table-contact th {
    color: #0048D9;
}

.table-contact td {
    color: #6F7482;
}

.form {
    margin-top: 25px;
    appearance: none;
}

.form fieldset {
   border: solid 1px #0048D9;;
   border-radius: 40px 10px;
}

.form-legend {
    font-weight: 600;
    color: #0048D9;
}

.form-email {
   display: flex;
   gap: 25px;
   align-items: center;
}

.form-description {
    margin-top: 20px;
}

.form-work-type {
    display: flex;
    margin-top: 20px;
    gap: 11px;
    align-items: center;
}

label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #6F7482;
}

 .label-email{
    margin-left: 20px;
 }

.field::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #B8BCCA;
}

.label-required {
    margin-left: 2px;
    color:#ED0131;
}

input[type="email"], 
select,
textarea {
    margin-top: 7px;
    min-width: 460px;
    background: #F8FAFC;
    border-radius: 4px;
    padding: 12px;
}

input:invalid,
textarea:invalid,
select:invalid {
    border: 1px solid #ED0131;
    border-radius: 4px;
}

input:valid,
textarea:valid,
select:valid {
    border: 1px solid #0E6245;
}

.label-wrapper p {
    display: none;
    margin: 0;
    margin-left: 100px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
}

.error {
    color: #ED0131;
}

.success {
    color:#0E6245;
}

.label-email:invalid +.error {
    display: block;
}

.label-email:valid ~.success {
    display: block;
}

  input:focus,
  select:focus,
  textarea:focus {
    outline: 1px solid #0048D9;
    border-radius: 4px;
}

.label-description {
    vertical-align: top;
    line-height: 1.4;
    letter-spacing: 0;
}

textarea {
   min-height: 139px;
}

select {
    background: url('../images/arrow.svg') no-repeat center right 10px;
    background-color: #F8FAFC;
}

option {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #3B4256;
}

input[type="submit"] {
    margin-top: 40px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background: #0048D9;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    padding: 4px 16px;
    color: #ffffff;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #002266;
    border-radius: 6px;
    padding: 0;
}

/* Action page */
.action-page {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 125px);
    height: 350px;
    width: 350px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0,  0.5);
}

    .action-page-title {
    padding-top: 150px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    color:  #0048D9;
}



