.cv-page {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.cv-page a {
    color: #00f;
}

.cv-page a:visited {
    color: #005;
}

.cv-page  a:hover {
    text-decoration: none;
}

/* Header */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
    font-style: italic;
    border-bottom: 2px solid #c7fafa;
}

.header-image img {
    object-fit: cover;
    object-position: 0 0;
    border: 2px solid #c7fafa;
    padding: 10px;
}

.header-position {
    font-weight: bold;
    border-bottom: 2px solid #c7fafa;
}

/* Work experience */
.work {
    border-bottom: 2px solid #c7fafa;
}

.work-table {
    width: 100%;
}

.work-table-header {
    background-color: #c7fafa;
    text-transform: uppercase;
}

.work-table td {
    background-color: #e9ebeb;
}

/* Skills */
.skills {
    border-bottom: 2px solid #c7fafa;
}

.skills-list {
     list-style-type: square;
}

/* Achievements */
.achievements {
    border-bottom: 2px solid #c7fafa;
}